:root {
  --background-color: #223a6a;
  --input-primary-color: #ffc20e;
  --input-secondary-color: #d72567;
  --history-button-color: #94c324;
  --history-button-text-color: #223a6a;
  --date-input-text-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 700px;
  margin: 0 auto;
  height: 100vh;
  background-color: var(--background-color);
}

div.rotate {
  display: none;
}

div.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.selection {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label {
  color: color: var(--date-input-text-color);
}

select,
input,
button {
  display: block;
  height: 5%;
  width: 70%;
  text-transform: uppercase;
  background-color: var(--input-primary-color);
}

input[type="date"] {
  background-color: var(--input-secondary-color);
  color: var(--date-input-text-color);
}

button {
  width: 25%;
  margin: 5px 0;
  background-color: var(--input-secondary-color);
  color: var(--input-primary-color);
}

button.history_button {
  background-color: var(--history-button-color);
  color: var(--history-button-text-color);
}

div.modal {
  max-width: 700px;
  margin: 0 auto;
  position: absolute;
  top: -100vh;
  left: 5%;
  bottom: 100vh;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--input-primary-color);
  border-radius: 10px;
}

div.modal.active {
  top: 5%;
  bottom: 5%;
}

div.text {
  height: 80%;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div.text p {
  text-transform: uppercase;
}

div.text p span {
  font-weight: bold;
  font-size: 1.2rem;
}

div.buttons {
  height: 10%;
  width: 90%;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

button.modal_button {
  height: 80%;
  width: 45%;
  border-radius: 7px;
}

div.history {
  max-width: 700px;
  margin: 0 auto;
  position: absolute;
  top: -100vh;
  left: 5%;
  bottom: 100vh;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc20e;
  border-radius: 10px;
}

div.history.active {
  top: 5%;
  bottom: 5%;
}

div.text_history {
  height: 80%;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

div.text_history::-webkit-scrollbar {
  display: none; /* Chrome, Opera */
}

div.text_history p {
  text-transform: uppercase;
  margin: 10px 0;
}

button.back {
  height: 8%;
  width: 45%;
  border-radius: 7px;
}
